.right-contents
  .right-contents__title
    .right-contents__title--group-title
      = @group.name
    .right-contents__title--edit
      = link_to edit_group_path(@group) do
        %p edit
    .right-contents__title--group-member
      %p member
  .right-contents__messages
    .messages
      = render @messages
      .right-contents__post
        .right-contents__post--text
          .from
            = form_for [@group, @message] do |f|
              =f.text_field :body, class: 'form__message', placeholder: 'type a message'
              .form__mask
                = f.label :image, class: 'from__mask__image' do
                  = fa_icon 'pencil-square-o', class: 'item'
                  = f.file_field :image, class: 'hidden'
              = f.submit 'SEND', class: 'form__submit'
